<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024314343910-ud8393c6h02is572e723ecgpp70lg8js.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024314343910-ud8393c6h02is572e723ecgpp70lg8js</string>
	<key>API_KEY</key>
	<string>AIzaSyBLwKEhiUASCV5dLEgsQcOLhO3j_PsLdAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1024314343910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Will-Laverty.MemoryTide</string>
	<key>PROJECT_ID</key>
	<string>memorytide</string>
	<key>STORAGE_BUCKET</key>
	<string>memorytide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024314343910:ios:853c3bbb757db2e4a21627</string>
</dict>
</plist>